<%= form_for @recipe, :html => {class: 'form-horizontal', multipart: true} do |f| %>
  <div class="col-md-6 col-md-offset-3">
    <% if logged_in? %>
      <%= hidden_field_tag "author_id", current_author.id %>
    <% end %>
    <!-- Text input-->
    <label>Title</label>  
    <%= f.text_field :name, placeholder: "Title", class: "form-control" %>
  
    <label>Description</label>
    <%= f.text_area :description, placeholder: "Enter Description", class: "form-control" %>

    <label>Ingredients</label>
    <%= f.text_area :ingredients, placeholder: "Enter Ingredients", class: "form-control" %>

    <label>Direction</label>
    <%= f.text_area :directions, placeholder: "Enter Ingredients", class: "form-control" %>  
  
    <label>Dessert Type</label>
    <%= f.collection_select :dessert_type_id, DessertType.all, :id, :name, {prompt: " - Select Dessert Type - "}, {class: "form-control"} %>
  
    <label>Upload Image</label>                     
    <%= f.file_field :image, class: "form-control" %>
  
    <label></label>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  
  </div>
<% end %>