<div class="row page-title-heading">
  <h1 class="text-center">Create Account</h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @author, :html => {class: 'form-horizontal', multipart: true} do |f| %>
    <fieldset>

    <%= render 'shared/error_messages' %>
      <label>Name</label>  
      <%= f.text_field :name, placeholder: "Full Name", class: "form-control input-md" %>
    
      <label>Username</label>  
      <%= f.text_field :username, placeholder: "Username", class: "form-control input-md" %>
    
      <label>Email</label>  
      <%= f.email_field :email, placeholder: "Email", class: "form-control input-md" %>

      <label>Password</label>
      <%= f.password_field :password, placeholder: "Password", class: "form-control input-md" %>

      <label>Profile</label>
      <%= f.text_area :bio, placeholder: "Enter Profile Details", class: "form-control" %>

      <label>Upload Image</label>
      <%= f.file_field :image, class: "form-control" %>
    
      <label></label>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    
    </fieldset>
    <% end %>
  </div>
</div>